/*
  Mantine сам делает сброс через @mantine/core/styles.css
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;
  width: 100%;
  position: relative;
  background-color: inherit;

  display: flex;
  flex-direction: column;
}